@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
     font-family: 'EB Garamond',serif;
     
}


i {
     @apply text-xl flex items-center cursor-pointer
}

main {
     @apply max-w-screen-2xl mr-auto ml-auto bg-background h-screen
}

a {
     @apply cursor-pointer
}

/* li {
     @apply flex justify-center items-center
} */

@media (max-width: 1400px) {

     #Purpose {
          display: none
     }
}

@media (max-width: 1320px) {

     #Fierce {
          display: none
     }
}

@media (max-width: 1240px) {

     #Sale {
          display: none
     }
}

@media (max-width: 1140px) {

     #Jeans {
          display: none
     }
}

@media (max-width: 1100px) {

     #Active {
          display: none
     }
}

@media (max-width: 320px) {

     #sideBarContent {
         width: 100%;
     }
}

.navBar > div > li > a {
     @apply text-primary font-bold hover:border-b-4 border-primary py-5 px-2
}

.categories >  ul > li > a {
     @apply border-primary hover:border-b-2 text-grey-custom

}

h4 {
     @apply text-grey-custom font-semibold
}

.logo{
    width: 90;
    height: 90;

}

